@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Boatify</h1>
        <p class="lead">Your one-stop solution for renting the perfect boat.</p>
        <hr class="my-4">
        <p>Explore a wide range of boats for all your needs.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h2>Speed Boats</h2>
            <p>Experience the thrill of speed on the water.</p>
        </div>
        <div class="col-md-4">
            <h2>Sail Boats</h2>
            <p>Enjoy a serene and peaceful sail.</p>
        </div>
        <div class="col-md-4">
            <h2>Harbours</h2>
            <p>Search for harbours in whole country</p>
        </div>
    </div>
</div>